
.service-section {
    position: relative;

    &::before {
        //opacity: 0.4;
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
    }

    .section-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.service-item {
    padding: 20px;
    margin-bottom: 32px;

    .service-number {
        font-weight: 800;
        font-size: 4rem;
        letter-spacing: 5px;
    }

    .service-head {
        font-weight: 100;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 1rem 0;
        letter-spacing: 2px;
    }

    .services-list {
        padding-left: 0;
        
        li {
            list-style: none;

            .item-content {
                display: flex;

                .item-icon {
                    width: 9%;
                    padding-top: 4px;
                }

                .item-value {
                    width: 91%;
                }
            }
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, 'xs')) {
    // Mobile
    .service-section {
        .section-wrapper {
            min-height: 100vh;
        }
    }
    .service-item {
        .service-number {
            text-align: center
        }
        .service-head {
            text-align: center;
        }
        .services-list {
            padding: 0 30px;
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
    // Mobile
    .service-section {
        .section-wrapper {
            min-height: 100vh;
        }
    }

    .service-item {
        .service-number {
            text-align: center
        }
        .service-head {
            text-align: center;
        }
        .services-list {
            padding: 0 30px;
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    // Tablet
    .service-section {
        .section-wrapper {
            min-height: 100vh;
        }
    }
    .service-item {
        .service-number {
            text-align: center
        }
        .service-head {
            text-align: center;
        }
        .services-list {
            padding: 0 30px;
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    // Desktop
    .service-section {
        .section-wrapper {
            min-height: 100vh;
        }
    }
    .service-item {
        .service-number {
            text-align: center
        }
        .service-head {
            text-align: center;
        }
        .services-list {
            padding: 0 30px;
        }
    }
}